* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: white;
    --bg-color: #22222b;
    --button-bg-color: rgba(255, 255, 255, 0.1);
    --button-border-color: rgba(255, 255, 255, 0.5);
    --caret-color: white;
    --email-icon: url('myassets/Icons/Branco/email.png');
    --instagram-icon: url('myassets/Icons/Branco/instagram.png');
    --linkedin-icon: url('myassets/Icons/Branco/linkedin.png');
    --github-icon: url('myassets/Icons/Branco/github.png');
    --spotify-icon: url('myassets/Icons/Branco/spotify.png');
    --pinterest-icon: url('myassets/Icons/Branco/pinterest.png');
    --cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="48" viewBox="0 0 24 24"><path fill="%23000000" stroke="%23FFFFFF" stroke-width="2" d="M5.5 3.21V20.8c0 .45.54.67.85.35l4.86-4.86a.5.5 0 0 1 .35-.15h6.87a.5.5 0 0 0 .35-.85L6.35 2.85a.5.5 0 0 0-.85.35Z"></path></svg>') 12 12, auto;
}
.light {
    --text-color: black;
    --bg-color: #FFFFFF;
    --button-bg-color: rgba(0, 0, 0, 0.1);
    --button-border-color: rgba(0, 0, 0, 0.5);
    --caret-color: black;
    --email-icon: url('myassets/Icons/Preto/email.png');
    --instagram-icon: url('myassets/Icons/Preto/instagram.png');
    --linkedin-icon: url('myassets/Icons/Preto/linkedin.png');
    --github-icon: url('myassets/Icons/Preto/github.png');
    --spotify-icon: url('myassets/Icons/Preto/spotify.png');
    --pinterest-icon: url('myassets/Icons/Preto/pinterest.png');
    --cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="48" viewBox="0 0 24 24"><path fill="%23FFF" stroke="%23000" stroke-width="2" d="M5.5 3.21V20.8c0 .45.54.67.85.35l4.86-4.86a.5.5 0 0 1 .35-.15h6.87a.5.5 0 0 0 .35-.85L6.35 2.85a.5.5 0 0 0-.85.35Z"></path></svg>') 12 12, auto;
}

html, body {
    overflow-x: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    cursor: var(--cursor);
    background: var(--bg-color);
    background-blend-mode: overlay;
    font-family: inter, sans-serif;
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;

}

/* Perfil */
#container {
    width: 100%;
    max-width: 450px;
    margin: 56px auto 0;
    padding: 0 24px;
}

#profile {
    text-align: center;
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#profile img {
    width: 112px;
    height: 112px;
    display: block;
    margin: auto;
    border-radius: 50%;
    transition: box-shadow 0.3s ease;
}

#profile img:hover {
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.6);
}

.light #profile img:hover {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.6);
}

#profile p {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: 8px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

ul li a {
    width: 100%;
    max-width: 450px;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 16px 24px;
    background: var(--button-bg-color);
    border: 1px solid var(--button-border-color);
    border-radius: 8px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    text-decoration: none;
    font-weight: 500;
    color: var(--text-color);
    transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

ul li a:hover, ul li a:focus {
    animation: bounce 0.3s;
    color: var(--text-color);
    background: rgba(255, 255, 255, 0.05);
    border: 0.1rem solid var(--button-border-color);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
    background: linear-gradient(45deg, #ff7e5f, #feb47b);
    transition: background 0.5s ease-in-out;
}

.light ul li a:hover, .light ul li a:focus {
    background: linear-gradient(45deg, #6a11cb, #b892ff);
}

ul li a:active {
    background-color: #222;
    transform: scale(0.95);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: none;
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
}

#social-container {
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
}

#social-icons {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 20px;
}

#social-icons a {
    display: inline-block;
    width: 24px;
    height: 24px;
    overflow: hidden;
    text-decoration: none;
    font-size: 0;
    position: relative;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#social-icons a.icon {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
    background-size: cover;
    display: inline-block;
    background-repeat: no-repeat;
    font-size: 0;
}

#social-icons a.icon.email {
    background-image: var(--email-icon);
}

#social-icons a.icon.instagram {
    background-image: var(--instagram-icon);
}

#social-icons a.icon.linkedin {
    background-image: var(--linkedin-icon);
}

#social-icons a.icon.github {
    background-image: var(--github-icon);
}

#social-icons a.icon.spotify {
    background-image: var(--spotify-icon);
}

#social-icons a.icon.pinterest {
    background-image: var(--pinterest-icon);
}

#social-icons a.icon:hover{
    transform: scale(1.2);
    z-index: 1;
    overflow: hidden;
}

p.footer-text {
    margin-top: 30px;
    color: #888;
    text-align: center;
}

footer {
    padding: 24px 0;
    text-align: center;
}

button, a, .hover-effect {
    cursor: var(--cursor);
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: calc(13ch + 1px);
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: var(--caret-color);;
    }
}

@keyframes hide-caret {
    to {
        border-right-color: transparent;
    }
}

#typing-text {
    font-family: 'Courier', monospace;
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid var(--caret-color);
    width: 0;
    animation: typing 3s steps(13) forwards, blink-caret 0.75s step-end infinite, hide-caret 0s steps(1) forwards 6s;
    text-align: center;
}

#theme-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

#theme-toggle img {
    width: 32px;
    height: 32px;
    cursor: var(--cursor);
    transition: transform 0.3s ease;
}

#theme-toggle img:hover {
    transform: scale(1.2);
}

#moon-icon {
    display: inline-block;
}

.light #moon-icon {
    display: none;
}

#sun-icon {
    display: none;
}

.light #sun-icon {
    display: inline-block;
}

#theme-toggle img {
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Estilos específicos para telas menores que 768px */
@media only screen and (max-width: 768px) {

    /* Ajustando o container para telas menores */
    #container {
        max-width: 100%;
        margin: 20px auto;
        padding: 0 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Botões com menos largura e texto proporcional */
    ul li a {
        width: 75vw;               /* Botões ocupam 75% da largura da tela */
        padding: 14px 10px;         /* Padding menor para um design mais leve */
        font-size: 16px;            /* Tamanho da fonte menor */
        border-radius: 8px;         /* Bordas mais suavemente arredondadas */
        box-sizing: border-box;
    }

    /* Ajustando o espaço entre os botões */
    ul {
        gap: 12px;                  /* Espaçamento suave entre os botões */
    }

    /* Ajustando os ícones sociais */
    #social-icons {
        margin-top: 16px;           /* Espaçamento entre botões e ícones sociais */
    }

    #social-icons a {
        width: 28px;                /* Tamanho dos ícones sociais reduzido */
        height: 28px;
    }

    /* Ajustando o rodapé */
    footer {
        padding: 16px 0;
        font-size: 12px;
    }
}



